li {
    font-family: var(--fonte-secundaria);
    color: var(--preto);
}
}
.Conteiner_compras{
    background-color: var(--branco);
    padding: 6em;
    border-radius: 24%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem{
    width: 100%;
    margin-bottom: 1em;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#itemInput{
    border-radius: 24px;
    padding: 1em;
    border: 1px solid var(--azul-claro);
    width: 100%;
}

#itemInput:hover{
    border: 1px solid #032a3b
}

.botao_salvar{
    background-color: var(--azul-claro);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--branco);
    border-radius: 50px;
    padding: 1em;
    cursor: pointer;
    font-size: 1em;
    font-family: var(--fonte-secundaria);
}

.botao_salvar:hover{
    background-color: var(--azul-escuro);
    cursor: pointer;
    transition: 0.s;
}

.botao_salvar:active{
    background-color: var(--branco);
    color: var(--azul-borda);
    border: 1px solid var(--azul-borda); 
}

.lista_compras{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
}

.linha_divisao{
    border: none;
    border-top: 2px dotted var(--cor-divisao); /* Cor dos pontinhos */
}

.input_checkobox{
    display: none;
}

.checkbox_customizado{
    width: 24px;
    height: 24px;
    border: 1px solid var(--preto);
    border-radius: 4px;
    background-color: beige;
    cursor: pointer;
}

.checked{
    background-color: var(--preto);
    position: relative;
}

.checkbox_customizado.checked::after{
    content:"";
    border-top: 2px solid var(--branco);
    border-left: 2px solid var(--branco);
    position: absolute;
    top: 2px;
    left: 8px;
    height: 14px;
    width: 5px;
    transform: rotate(225deg);
}

.item_lista_button{
    background: transparent;
    border: none;
}

.lista_item_conteiner{
    display: flex;
    justify-content: space-between;
}
